/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
///

#home-page {
  height: 100%;
}

.cards-container {
  display: flex;
  flex-direction: column;
  // padding: 20px 16px;
  gap: 16px;
  margin-top: -13px;

  .card {
    border-radius: 12px;
    padding: 24px 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 311px;

    .card__icon {
      width: 48px;
    }

    .card__title {
      font-size: 26px;
      font-weight: 700;
      line-height: 31.2px;
      color: black;
      margin: 16px 0 0 0;
    }

    .card__description {
      // font-size: 1rem;
      line-height: 20px;
      // font-weight: 400;
      // font-style: normal;
      color: rgba(20, 20, 20, 1);
      margin-top: 8px;
      margin-bottom: 16px;
      font-size: 14px;
      font-weight: 400;
    }

    .card__button {
      border: none;
      background-color: #fff;
      border-radius: 200px;
      padding: 14px 19px 15px 24px;
      font-family: "Satoshi";
      font-size: 12px;
      // line-height: 18px;
      color: black;
      transition: 0.1s;
      width: 128px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        vertical-align: middle;
      }
      span.arrow {
        display: block;
        height: 1rem;
        stroke: black;
        // vertical-align: middle;
        margin-left: 6px;
        margin-top: -3px;
      }

      &:hover {
        color: #001aff;
        span.arrow {
          stroke: #001aff;
        }
      }

      &:active {
        background-color: #f1f5ff;
      }
    }
  }

  .card--green {
    background-color: #e5efe2;
  }

  .card--blue {
    background-color: #e4e9f3;
  }

  .card--yellow {
    background-color: #f4f1e4;
  }
}

@media (min-width: 768px) {
  .cards-container {
    padding: 0 40px;
    justify-content: center;
    margin-top: 13px;
    .card {
      width: 704px;
      // height: 264px;
      padding: 24px;
      .card__icon {
        width: 72px;
      }

      .card__title {
        font-size: 32px;
        line-height: 38.4px;
      }

      .card__description {
        font-size: 16px;
        line-height: 22px;
        margin: 8px 0 16px 0;
      }
    }
  }
}
@media (min-width: 1024px) {
  .cards-container {
    flex-direction: row;
    // max-width: 1150px;
    margin-top: 7px;

    .card {
      padding: 32px;
      flex: 1;
      width: 304px;

      .card__title {
        margin-top: 24px;
      }

      .card__description {
        font-size: 16px;
        line-height: 22px;
        margin: 16px 0 24px 0;
      }
    }
  }
}
