/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";

html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Roboto", sans-serif;
  font-size: 16px;
  color: var(--color-primary);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  color: var(--color-on-surface);
}
